// $mdc-theme-primary: #8BBBBB;
// $mdc-theme-secondary: #BBD9D7;
// $mdc-theme-on-primary: #FEFEFF;
// $mdc-theme-on-secondary: #E4EEEF;
// $mdc-theme-on-border: #C4C4C4;

$mdc-theme-primary: #FFFFFF;
$mdc-theme-secondary: #F4F7F5;
$mdc-theme-on-primary: #424B54;
$mdc-theme-on-secondary: #08090A;
